/*****Animation rotation du spinner*****/
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*****Animation affichage de la page puis disparition*****/
@keyframes onScreen {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
    }
}

/*****Animation affichage de la page*****/
@keyframes display {
    from {
        visibility: hidden;
        display: none;
    }
    to {
        opacity: 1;
    }
}

/*****Animation du prix dans menu*****/
@keyframes checkedPrice {
    from {
        transform: translateX(62px);
    }
    to {
        transform: translateX(0px);
    }
}

/*****Animation inverse du prix *****/
@keyframes inverseCheckedPrice {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(0px);
    }
}

/*****Animation arrivée affichage plat au fure et a mesure*****/
@keyframes arrived1 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
