@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes onScreen {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes display {
    from {
        visibility: hidden;
        display: none;
    }
    to {
        opacity: 1;
    }
}

@keyframes fill {
    from {
        opacity: 0;
        stroke: none;
    }
    to {
        opacity: 1;
        stroke: none;
    }
}

@keyframes fillOut {
    from {
        opacity: 1;
        stroke: none;
    }

    to {
        opacity: 0;
        stroke: none;
    }
}
