// Variables  pour les  fonts family
$font-text:'Roboto', sans-serif;
$font-title:'Shrikhand', cursive;

// Variables pour  les couleurs
$white:white;
$background-dark-grey: #EAEAEA;
$background-light-grey: #f6f6f6;
$background-eavy-grey: #353535;
$purple: #9356DC;
$pink: #ff79da;
$light-green: #99e2d0;
$dark-green: #008766;
