@charset "UTF-8";
/*****Animation rotation du spinner*****/
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*****Animation affichage de la page puis disparition*****/
@keyframes onScreen {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
  }
}
/*****Animation affichage de la page*****/
@keyframes display {
  from {
    visibility: hidden;
    display: none;
  }
  to {
    opacity: 1;
  }
}
/*****Animation du prix dans menu*****/
@keyframes checkedPrice {
  from {
    transform: translateX(62px);
  }
  to {
    transform: translateX(0px);
  }
}
/*****Animation inverse du prix *****/
@keyframes inverseCheckedPrice {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}
/*****Animation arrivée affichage plat au fure et a mesure*****/
@keyframes arrived1 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
body {
  display: flex;
  flex-direction: column;
  margin: unset;
  padding: unset;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  body {
    flex-wrap: wrap;
    align-items: center;
  }
}

.mainButton {
  border: none;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.mainButton:hover {
  filter: brightness(125%);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.35);
}

.header {
  font-family: "Roboto", sans-serif;
}
.header__logo {
  display: flex;
  justify-content: center;
}
.header__logo img {
  width: 162px;
  height: 36px;
  margin: 14px 89px 13px;
}
.header_restaurants {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
.header_restaurants a {
  text-decoration: none;
  color: black;
}

.location {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: linear-gradient(#cac6c6, #eaeaea 9%);
}

.arrow {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 30px;
  left: 22px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  .footer {
    padding: 50px 0px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 120px;
    width: 100vw;
  }
}
.footer__list-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: unset;
  padding: unset;
}
@media (min-width: 1024px) {
  .footer__list-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: unset;
    padding: unset;
  }
}
.footer__list-container p {
  margin: unset;
}
.footer__footer-list-with-logo, .footer__footer-list {
  list-style-type: none;
}
.footer__footer-list-with-logo a, .footer__footer-list a {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 11px;
  align-items: center;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  margin: unset;
  padding-bottom: 16px;
}
@media (min-width: 1024px) {
  .footer__logo {
    padding-right: 65px;
    padding-bottom: unset;
  }
}

.mainTitle {
  font-size: 24px;
  font-weight: 700;
  margin: unset;
}
@media (min-width: 1024px) {
  .mainTitle {
    font-size: 40px;
  }
}

/***** Section book  *****/
.book {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-bottom: 57px;
}
@media (min-width: 1024px) {
  .book {
    gap: 18px;
  }
}

.book .mainTitle {
  padding-top: 40px;
  margin-left: 42px;
  margin-right: 58px;
}

.book p {
  margin: 10px 20px 27px 34px;
}
@media (min-width: 1024px) {
  .book p {
    font-size: 18px;
  }
}

.book .mainButton {
  width: 218px;
  padding: 13px 19px;
}

/***** Section fonctionnement *****/
.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
@media (min-width: 1024px) {
  .info {
    margin: 50px 180px;
  }
}
.info ul {
  margin: unset;
  padding: unset;
}
@media (min-width: 1024px) {
  .info__container {
    display: flex;
    gap: 36px;
    justify-content: space-around;
  }
}
.info__list {
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  list-style-type: none;
  width: 323px;
  height: 72px;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .info__list {
    margin-left: 10px;
  }
}
.info__list__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  padding-left: 33px;
}

.mainTitle {
  margin: 48px 80px 26px 20px;
}
@media (min-width: 1024px) {
  .mainTitle {
    margin-bottom: 25px;
  }
}

.circle {
  background-color: #9356dc;
  color: white;
  font-size: 14px;
  border-radius: 25px;
  padding-left: 3px;
  padding-right: 2px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding-top: 5px;
  margin-left: -15px;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7e7e7e;
}

.fa-store {
  color: #9356dc;
}

/***** Section Restaurants *****/
.restaurants {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  gap: 18px;
  padding-bottom: 66px;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media (min-width: 1024px) {
  .restaurants.mainTitle {
    padding-top: 30px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1024px) {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media (min-width: 1024px) {
  .card {
    width: 490px;
  }
}
.card__info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.card__info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 13px;
  gap: 5px;
}
.card__info h2, .card__info p {
  margin: unset;
}
.card__icon {
  margin: 23px 25px 33px;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
}
.card__icon:hover .heart-like {
  opacity: 1;
}
.card__image {
  width: 340px;
  height: 171px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media (min-width: 1024px) {
  .card__image {
    width: 490px;
  }
}
.card__new {
  background-color: #99e2d0;
  color: #008766;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  position: absolute;
  top: 0.75rem;
  left: 15.6rem;
}
@media (min-width: 1024px) {
  .card__new {
    top: 0.75rem;
    left: 24.6rem;
  }
}

.card a {
  color: black;
  text-decoration: none;
}

.heart-like {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.icon-main {
  position: absolute;
  top: 175px;
  left: 251px;
}
@media (min-width: 1024px) {
  .icon-main {
    left: 413px;
  }
}

.body {
  animation: display 0s 3s;
  animation-fill-mode: backwards;
}

.spinner-container {
  animation: onScreen 3s;
  animation-fill-mode: forwards;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-container__spinner {
  width: 100px;
  height: 100px;
  border: 3px solid;
  border-top: black;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

.resto_photo {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
@media (min-width: 1024px) {
  .resto_photo {
    max-height: 450px;
  }
}
.resto_name {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}
.resto_menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  background-color: #f6f6f6;
  margin-top: -55px;
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .resto_menu {
    width: 75vw;
  }
}
.resto_menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.resto_menu-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #99e2d0 45px, #f6f6f6 30px) 5;
     border-image: linear-gradient(to right, #99e2d0 45px, #f6f6f6 30px) 5;
  padding-bottom: 10px;
  margin-bottom: unset;
}
.resto_menu-entries {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.resto_menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-content: center;
  flex-wrap: wrap;
  padding: unset;
}
.resto_menu-list-item {
  position: relative;
  list-style-type: none;
  background-color: white;
  border-radius: 15px;
  width: 349px;
}
@media (min-width: 1024px) {
  .resto_menu-list-item {
    width: 634px;
  }
}
.resto_menu-list-item-text {
  padding: 15px;
}
.resto_menu-list-item-text h3 {
  padding: unset;
  margin: unset;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.resto_menu-list-item-complement {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.resto_menu-list-item-complement p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  padding: 0px 10px 0px 0px;
  margin: unset;
}
.resto_menu-list-item h4 {
  padding: unset;
  margin: unset;
}
.resto_menu-list-item:hover .selected {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 62px;
  transform: scaleX(1);
  transform-origin: right;
}
@media (min-width: 1024px) {
  .resto_menu-list-item:hover .selected {
    left: 573px;
  }
}
.resto_menu-list-item:hover .resto_menu-list-item-text {
  width: 260px;
}
@media (min-width: 1024px) {
  .resto_menu-list-item:hover .resto_menu-list-item-text {
    width: 545px;
  }
}
.resto_menu-list-item:hover .resto_menu-list-item-complement h4 {
  transform-origin: right;
  animation: checkedPrice 0.5s;
}

.restaurant-button {
  width: 186px;
  align-self: center;
  margin-bottom: 40px;
}

.selected {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 62px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
@media (min-width: 1024px) {
  .selected {
    left: 573px;
  }
}

.resto_menu-list-item-complement h4 {
  animation: inverseCheckedPrice 0.5s;
}

.heart-restaurants {
  background-color: #f6f6f6;
}

.resto_menu-entries {
  animation: arrived1 1s;
}

.resto_menu-dishes {
  animation: arrived1 1s 1s;
  animation-fill-mode: backwards;
}

.resto_menu-desserts {
  animation: arrived1 1s 2s;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=main.css.map */