@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes onScreen {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes display {
  from {
    visibility: hidden;
    display: none;
  }
  to {
    opacity: 1;
  }
}
@keyframes fill {
  from {
    opacity: 0;
    stroke: none;
  }
  to {
    opacity: 1;
    stroke: none;
  }
}
@keyframes fillOut {
  0% {
    fill: url(#gradient);
    opacity: 1;
    stroke: none;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    stroke: none;
  }
}
body {
  display: flex;
  flex-direction: column;
  margin: unset;
  padding: unset;
  font-family: "Roboto", sans-serif;
}

.mainButton {
  border: none;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.mainButton:hover {
  filter: brightness(125%);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.35);
}

a {
  color: black;
  text-decoration: none;
}

.header {
  font-family: "Roboto", sans-serif;
}
.header__logo {
  display: flex;
  justify-content: center;
}
.header__logo img {
  width: 162px;
  height: 36px;
  margin: 14px 89px 13px;
}
.header_restaurants {
  display: flex;
  justify-content: flex-start;
  gap: 42px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  align-items: center;
}

.location {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: linear-gradient(#cac6c6, #eaeaea 9%);
}

.arrow {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  .footer {
    padding: 50px 0px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 120px;
  }
}
.footer__list-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: unset;
  padding: unset;
}
@media (min-width: 1024px) {
  .footer__list-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: unset;
    padding: unset;
  }
}
.footer__list-container p {
  margin: unset;
}
.footer__footer-list-with-logo, .footer__footer-list {
  list-style-type: none;
  display: flex;
  gap: 11px;
  align-items: center;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  margin: unset;
  padding-bottom: 16px;
}
@media (min-width: 1024px) {
  .footer__logo {
    padding-right: 65px;
    padding-bottom: unset;
  }
}

.mainTitle {
  font-size: 24px;
  font-weight: 700;
  margin: unset;
}
@media (min-width: 1024px) {
  .mainTitle {
    font-size: 40px;
  }
}

/***** Section book  *****/
.book {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-bottom: 57px;
}
@media (min-width: 1024px) {
  .book {
    gap: 18px;
  }
}

.book .mainTitle {
  padding-top: 40px;
  margin-left: 42px;
  margin-right: 58px;
}

.book p {
  margin: 10px 20px 27px 34px;
}
@media (min-width: 1024px) {
  .book p {
    font-size: 18px;
  }
}

.book .mainButton {
  width: 218px;
  padding: 13px 19px;
}

/***** Section fonctionnement *****/
@media (min-width: 1024px) {
  .info {
    margin: 50px 180px;
  }
}
.info ul {
  margin: unset;
  padding: unset;
}
@media (min-width: 1024px) {
  .info__container {
    display: flex;
    gap: 36px;
    justify-content: space-around;
  }
}
.info__list {
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  list-style-type: none;
  width: 323px;
  height: 72px;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .info__list {
    margin-left: 10px;
  }
}
.info__list__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  padding-left: 33px;
}

.mainTitle {
  margin: 48px 80px 26px 20px;
}
@media (min-width: 1024px) {
  .mainTitle {
    margin-bottom: 25px;
  }
}

.circle {
  background-color: #9356dc;
  color: white;
  font-size: 14px;
  border-radius: 25px;
  padding-left: 3px;
  padding-right: 2px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding-top: 5px;
  margin-left: -15px;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7e7e7e;
}

.fa-store {
  color: #9356dc;
}

/***** Section Restaurants *****/
.restaurants {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  gap: 18px;
  padding-bottom: 66px;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media (min-width: 1024px) {
  .restaurants.mainTitle {
    padding-top: 30px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1024px) {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media (min-width: 1024px) {
  .card {
    width: 490px;
  }
}
.card__info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.card__info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 13px;
  gap: 5px;
}
.card__info h2, .card__info p {
  margin: unset;
}
.card__icon {
  margin: 23px 25px 33px;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
}
.card__icon:hover .heart-like {
  fill: url(#gradient);
  animation: fill 1s;
  animation-fill-mode: both;
}
.card__image {
  width: 340px;
  height: 171px;
}
@media (min-width: 1024px) {
  .card__image {
    width: 490px;
  }
}
.card__image-horizontal {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  -webkit-clip-path: inset(60px 0px 0px 0px round 15px 15px 0px 0px);
          clip-path: inset(60px 0px 0px 0px round 15px 15px 0px 0px);
  margin-top: -60px;
}
@media (min-width: 1024px) {
  .card__image-horizontal {
    -webkit-clip-path: inset(108px 0px 55px 0px round 15px 15px 0px 0px);
            clip-path: inset(108px 0px 55px 0px round 15px 15px 0px 0px);
    margin-top: -108px;
  }
}
.card__image-vertical {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  -webkit-clip-path: inset(160px 0px 96px 0px round 15px 15px 0px 0px);
          clip-path: inset(160px 0px 96px 0px round 15px 15px 0px 0px);
  margin-top: -160px;
}
@media (min-width: 1024px) {
  .card__image-vertical {
    -webkit-clip-path: inset(249px 0px 200px 0px round 15px 15px 0px 0px);
            clip-path: inset(249px 0px 200px 0px round 15px 15px 0px 0px);
    margin-top: -249px;
  }
}
.card__new {
  background-color: #99e2d0;
  color: #008766;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  position: absolute;
  top: 0.75rem;
  left: 15.6rem;
}
@media (min-width: 1024px) {
  .card__new {
    top: 0.75rem;
    left: 24.6rem;
  }
}

.heart-like {
  animation: fillOut 1s;
}

.resto_photo {
  width: 375px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
.resto_name {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}
.resto_menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  background-color: #f6f6f6;
  margin-top: -55px;
  z-index: 1;
}
.resto_menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.resto_menu-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #99e2d0 45px, #f6f6f6 30px) 5;
     border-image: linear-gradient(to right, #99e2d0 45px, #f6f6f6 30px) 5;
  padding-bottom: 10px;
  margin-bottom: unset;
}
.resto_menu-entries {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.resto_menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-content: center;
  flex-wrap: wrap;
  padding: unset;
}
.resto_menu-list-item {
  position: relative;
  list-style-type: none;
  background-color: white;
  border-radius: 15px;
  width: 349px;
}
.resto_menu-list-item-text {
  padding: 15px;
}
.resto_menu-list-item-complement {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.resto_menu-list-item h3,
.resto_menu-list-item p,
.resto_menu-list-item h4 {
  padding: unset;
  margin: unset;
}
.resto_menu-list-item:hover .selected {
  display: block;
}
.resto_menu-list-item:hover .resto_menu-list-item-text {
  width: 260px;
}
.resto_menu-list-item:hover .resto_menu-list-item-complement p {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-button {
  width: 186px;
  align-self: center;
  margin-bottom: 40px;
}

.selected {
  display: none;
  position: absolute;
  top: 0px;
  left: 288px;
  width: 62px;
}/*# sourceMappingURL=main.css.map */