body {
    display: flex;
    flex-direction: column;
    margin: unset;
    padding: unset;
    font-family: $font-text;

    @media (min-width: 1024px) {
        flex-wrap: wrap;
        align-items: center;
    }
}

.mainButton {
    border: none;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient($pink, $purple);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    color: $white;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        filter: brightness(125%);
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.35);
    }
}
