.mainTitle {
    font-size: 24px;
    font-weight: 700;
    margin: unset;

    @media (min-width: 1024px) {
        font-size: 40px;
    }
}

/***** Section book  *****/
.book {
    background-color: $background-light-grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 57px;

    @media (min-width: 1024px) {
        gap: 18px;
    }
}

.book .mainTitle {
    padding-top: 40px;
    margin-left: 42px;
    margin-right: 58px;
}

.book p {
    margin: 10px 20px 27px 34px;

    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

.book .mainButton {
    width: 218px;
    padding: 13px 19px;
}

/***** Section fonctionnement *****/

.info {
    @media (min-width: 1024px) {
        margin: 50px 180px;
    }
    & ul {
        margin: unset;
        padding: unset;
    }

    &__container {
        @media (min-width: 1024px) {
            display: flex;
            gap: 36px;
            justify-content: space-around;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        margin-left: 33px;
        margin-bottom: 25px;
        border-radius: 25px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        list-style-type: none;
        width: 323px;
        height: 72px;
        background-color: $background-light-grey;

        @media (min-width: 1024px) {
            margin-left: 10px;
        }

        &__text {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 27px;
            padding-left: 33px;
        }
    }
}

.mainTitle {
    margin: 48px 80px 26px 20px;

    @media (min-width: 1024px) {
        margin-bottom: 25px;
    }
}

.circle {
    background-color: $purple;
    color: $white;
    font-size: 14px;
    border-radius: 25px;
    padding-left: 3px;
    padding-right: 2px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding-top: 5px;
    margin-left: -15px;
}

.fa-mobile-screen-button,
.fa-list-ul {
    color: #7e7e7e;
}

.fa-store {
    color: $purple;
}

/***** Section Restaurants *****/

.restaurants {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: $background-light-grey;
    gap: 18px;
    padding-bottom: 66px;

    @media (min-width: 1024px) {
        padding-left: 180px;
        padding-right: 180px;
    }
}

.restaurants.mainTitle {
    @media (min-width: 1024px) {
        padding-top: 30px;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 50px;
    }
}
.card {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 251px;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    position: relative;

    @media (min-width: 1024px) {
        width: 490px;
    }

    &__info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        padding-left: 13px;
        gap: 5px;
    }

    &__info h2,
    &__info p {
        margin: unset;
    }

    &__icon {
        margin: 23px 25px 33px;
        background-color: white;
        border: none;
        width: 30px;
        height: 30px;

        @media (min-width: 1024px) {
            left: 413px;
        }

        &:hover {
            & .heart-like {
                fill: url(#gradient);
                animation: fill 1s;
                animation-fill-mode: both;
            }
        }
    }

    &__image {
        width: 340px;
        height: 171px;

        @media (min-width: 1024px) {
            width: 490px;
        }
    }

    &__image-horizontal {
        width: 100%;
        object-fit: contain;
        position: relative;
        clip-path: inset(60px 0px 0px 0px round 15px 15px 0px 0px);
        margin-top: -60px;

        @media (min-width: 1024px) {
            clip-path: inset(108px 0px 55px 0px round 15px 15px 0px 0px);
            margin-top: -108px;
        }
    }

    &__image-vertical {
        width: 100%;
        object-fit: contain;
        position: relative;
        clip-path: inset(160px 0px 96px 0px round 15px 15px 0px 0px);
        margin-top: -160px;

        @media (min-width: 1024px) {
            clip-path: inset(249px 0px 200px 0px round 15px 15px 0px 0px);
            margin-top: -249px;
        }
    }

    &__new {
        background-color: $light-green;
        color: $dark-green;
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 500;
        z-index: 1;
        position: absolute;
        top: 0.75rem;
        left: 15.6rem;

        @media (min-width: 1024px) {
            top: 0.75rem;
            left: 24.6rem;
        }
    }
}

.card a {
    color: black;
    text-decoration: none;
}

.heart-like {
    animation: fillOut 0.5s;
}

.icon-main {
    position: absolute;
    top: 175px;
    left: 251px;
}

// .body {
//     animation: display 0s $spinner-time;
//     animation-fill-mode: backwards;
// }

// .spinner-container {
//     animation: onScreen $spinner-time;
//     animation-fill-mode: forwards;
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     &__spinner {
//         width: 100px;
//         height: 100px;
//         border: 3px solid;
//         border-top: black;
//         border-radius: 50%;
//         animation: spinner 2s linear infinite;
//     }
// }
