.resto {
    &_photo {
        width: 100vw;
        object-fit: cover;
        position: relative;

        @media (min-width: 1024px) {
            max-height: 450px;
        }
    }

    &_name {
        font-family: $font-title;
        font-size: 28px;
        font-weight: 400;
    }

    &_menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        position: relative;
        background-color: $background-light-grey;
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;

        @media (min-width: 1024px) {
            width: 75vw;
        }
    }

    &_menu-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &_menu-title {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 3px solid;
        border-image: linear-gradient(to right, $light-green 45px, $background-light-grey 30px) 5;
        padding-bottom: 10px;
        margin-bottom: unset;
    }

    &_menu-entries {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    &_menu-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-content: center;
        flex-wrap: wrap;
        padding: unset;
    }

    &_menu-list-item {
        position: relative;
        list-style-type: none;
        background-color: $white;
        border-radius: 15px;
        width: 349px;

        @media (min-width: 1024px) {
            width: 634px;
        }

        &-text {
            padding: 15px;

            & h3 {
                padding: unset;
                margin: unset;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &-complement {
            display: flex;
            justify-content: space-between;
            font-size: 15px;

            & p {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
                padding: 0px 10px 0px 0px;
                margin: unset;
            }
        }

        & h4 {
            padding: unset;
            margin: unset;
        }

        &:hover {
            & .selected {
                position: absolute;
                top: 0px;
                left: 288px;
                width: 62px;
                transform: scaleX(1);
                transform-origin: right;

                @media (min-width: 1024px) {
                    left: 573px;
                }
            }
            & .resto_menu-list-item-text {
                width: 260px;

                @media (min-width: 1024px) {
                    width: 545px;
                }
            }

            & .resto_menu-list-item-complement h4 {
                transform-origin: right;
                animation: checkedPrice 0.5s;
            }
        }
    }
}

.restaurant-button {
    width: 186px;
    align-self: center;
    margin-bottom: 40px;
}

.selected {
    position: absolute;
    top: 0px;
    left: 288px;
    width: 62px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;

    @media (min-width: 1024px) {
        left: 573px;
    }
}

.resto_menu-list-item-complement h4 {
    animation: inverseCheckedPrice 0.5s;
}
.heart-restaurants {
    background-color: $background-light-grey;
}

.resto_menu-entries {
    animation: arrived1 1s;
}

.resto_menu-dishes {
    animation: arrived1 1s 1s;
    animation-fill-mode: backwards;
}

.resto_menu-desserts {
    animation: arrived1 1s 2s;
    animation-fill-mode: backwards;
}
